.create-article, .edit-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
    margin: .5em auto;
    width: 70%;
    border: 2px solid #5271FF;
    position: fixed;
    bottom: 3em;
    left: 0;
    right: 0;
}

.article-container {
    display: flex;
    margin: 0 auto;
    width: 70%;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.article {
    position: relative;
    border: 1px solid black;
    width: 12em;
    height: 6em;
    padding: .5em;
    margin: .3em;
    background-color: lightblue;
    color: #5271FF;
}

.no-articles {
    margin: 2em auto;
    text-align: center;
    font-size: 2em;
}

.title {
    text-align:center;
    margin: .5em;
    color: inherit;
    text-decoration: inherit;
}
.title:hover {
    background-color: #E8D1A2;
    text-decoration: underline;
}

.date {
    position: absolute;
    bottom: 0;
    right: 5px;
}

.btn-delete, .btn-edit {
    width: 24px;
    height: 30px;
    font-size: 24px;
    color: #5271FF;
    background-color: lightblue;
    cursor: pointer;
}

.btn-delete {
    position: absolute;
    top: 0;
    right: 0;
}

.btn-edit {
    position: absolute;
    top: 0;
    right: 35px;
}

.article-details {
    text-align: center;
    padding: 1em;
    width: 15em;
    height: 15em;
    background-color: lightblue;
    margin: 5em auto;
    box-shadow: 1px 7px 10px 1px black;
    border-radius: 10px;
    font-size: 24px;
    
}

.article-details>p {
    margin: 1em 2em;
}

.btn {
    width: 5em;
    height: 2em;
    color: white;
    background-color: #5271FF;
    border: 1px solid black;
    cursor: pointer;
}