*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    text-align: justify;
    width: 60%;
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 0 auto;
    padding: 1em;
}