.article-container {
  display: flex;
  margin: 0 auto;
  width: 70%;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: hidden;
}

.no-articles {
  margin: 2em auto;
  text-align: center;
  font-size: 2em;
}

