.navigation {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
  }
  
  
  .pages {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0.5em;
    margin-right: 5em;
    font-size: 24px;
    color: #5271ff;
  }
  
  .links {
      color: #5271ff;
  }
  
  .pages > li > .links {
    margin: 0.5em;
    cursor: pointer;
    transition: all 0.2s ease-out;
    text-decoration: none;
  }
  
  .pages > li:hover {
    transform: scale(1.2);
    text-decoration: underline;
  }
  
  
  
  